<section class="container features-container">
  <div class="row">
    <div class="feature-box col-6 col-sm-6 col-md-6">
      <img src="https://www.biosano.es/cdnassets/redesign/icon/icon-home-1-rs.png" class="img-responsive feature-icon">
      <div class="feature-content">Envío en 24/48h</div>
      <a href="https://www.biosano.es/envios-y-devoluciones" class="feature-link">Saber más</a>
    </div>
    <div class="feature-box col-6 col-sm-6 col-md-6">
      <img src="https://www.biosano.es/cdnassets/redesign/icon/icon-home-2-rs.png" class="img-responsive feature-icon">
      <div class="feature-content">Devoluciones fáciles</div>
      <a href="https://www.biosano.es/politica-de-devoluciones" class="feature-link">Saber más</a>
    </div>
    <div class="feature-box col-6 col-sm-6 col-md-6">
      <img src="https://www.biosano.es/cdnassets/redesign/icon/icon-home-3-rs.png" class="img-responsive feature-icon">
      <div class="feature-content">Pago 100% seguro</div>
      <a href="https://www.biosano.es/formas-de-pago" class="feature-link">Saber más</a>
    </div>
    <div class="feature-box col-6 col-sm-6 col-md-6">
      <img src="https://www.biosano.es/cdnassets/redesign/icon/icon-home-4-rs.png" class="img-responsive feature-icon">
      <div class="feature-content">Mejor precio garantizado</div>
      <a href="https://www.biosano.es/promociones" class="feature-link">Saber más</a>
    </div>
  </div>
</section>
