/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #003300; /* Verde oscuro */
  --color-secondary: #597931; /* Verde oliva */
  --color-warning: #ff9900; /* Naranja brillante */
  --color-light: #f5f5f5; /* Blanco suave */
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--color-light);
  color: var(--color-primary);
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
